<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1 {
        text-align: center;
    }

    div.container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    div.box {
        border: 2px solid black;
        width: 200px;
        height: 200px;
        margin: 30px;
        border-radius: 10%;
    }
</style>
<body>
    <h1>Welcome!</h1>
    <div class="container">
        {% for _ in range(0, num): %}
            <div class="box" style="background-color: {{ color }};"></div>
        {% endfor %}
    </div>
</body>
</html>